
/* Styles specific to the App component */
.App {
  text-align: center;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

input[type="text"] {
  margin-right: 10px;
}
